@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-size: 21px !important;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  transition: 0.4s;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ebc32a;
}

::-webkit-scrollbar-track:hover {
  background-color: #ccccccbe;
}

/* Animate background image position */
.bg-animate {
  background-position: right 30px bottom 20px;
  /* Adjust values as needed */
}

.bg-scroll-img {
  background-image: url("./Images/LandingPage-Images/Scrolling-Image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

/* .bg-scroll-img2 {
  background-image: url('./Images/LandingPage-Images/Scrolling-Image.webp');
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
} */

.text-stroke {
  -webkit-text-stroke: 2px black;
}
.text-stroke-yellow {
  -webkit-text-stroke: 2px #ebc32a;
}

/* brands Slider for landing page */
.slider-container {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

.slider-content {
  display: flex;
  gap: 20px;
  align-items: center;
  animation: scroll 20s linear infinite;
}

.slider-container:hover .slider-content {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* --------------------brands logo slider animation ends ------------------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-Img {
  background-image: url("https://www.laxya.net/images/free3.jpg");
  width: 100%;
  height: 100%;
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.divImg img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.flexx {
  display: flex;
  justify-content: center;
  position: relative;
}

.slide {
  position: absolute;
  z-index: 3;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
  background: #6a6b6b;
  width: 98vw;
  left: -10px;
}

.flex:hover img {
  z-index: 2;
}

.flexx:hover .slide-connector {
  opacity: 1;
  transform: translateX(0);
}

.flex2 {
  display: flex;
}

.b {
  position: absolute;
  left: -106% !important;
}

.c {
  position: absolute;
  left: -212% !important;
}

.d {
  position: absolute;
  left: -312% !important;
}

.e {
  position: absolute;
  left: -412% !important;
}

.f {
  position: absolute;
  left: -512% !important;
}

@media (max-width: 767px) {
  .b {
    position: absolute;
    left: -10% !important;
  }

  .c {
    position: absolute;
    left: -10% !important;
  }

  .d {
    position: absolute;
    left: -10% !important;
  }

  .e {
    position: absolute;
    left: -10% !important;
  }

  .f {
    position: absolute;
    left: -10% !important;
  }
}

/* .loadingChild {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */

@keyframes appear {
  from {
    opacity: 0;
    /* scale: 0.9; */
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

.loader {
  width: 120px;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: transparent;
}

.loader:before,
.loader:after {
  content: "";
  width: 40px;
  border-radius: 50%;
  background: #e1b924;
  animation: l3 1s infinite alternate;
}

.loader:after {
  --s: -1;
}

@keyframes l3 {
  90%,
  100% {
    transform: translate(calc(var(--s, 1) * 30px));
  }
}

.swiper-button-next {
  left: 120px !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 90% !important;
  color: black !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 60px !important;
  color: black !important;
}

/* ----------------------- */

/* slick carousel */

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px !important;
}

.slick-next {
  /* right: 50% !important; */
  z-index: 9999 !important ;
}
.slick-prev {
  z-index: 9999 !important;
  /* left: 0 !important; */
}



/* ---------------------gallery---------------- */


.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  padding: 0 20px;
}

.swiper-pagination-fraction {
  color: white;
  font-size: 1.2rem;
}

.swiper-button-disabled {
  opacity: 0.5;
}
